body {
    background-color: #1f1f1f;
    height: 1000px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;   
}

em {
    color: #dd740b;   
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blueBox {
    background: #627da0; 
    position: inherit;
    left:40px;
}

.pinkBox {
    background: #FF0066; 
    position: relative;
    top:40px;
    z-index: 2;
}

.greenBox {
    background: #5b8054;  
    z-index: 1;
}

.container {
    background: rgba(0,0,0,5);
    width: 200px;
    height: 200px;
    position: relative;
    left:20px;
}